.first{
    position: fixed;
    display: block;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 999;
    background: #FFC404;
    text-align: center;
    height: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cookie__close{
    position: fixed;
    right: 10px;
    top: 0px;
    color: #000000;
    z-index: 9999;
    font-size: 30px;
}