footer{
    width: 100%;
    height: 73px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
}
.nav__footer-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -30px;
}
#buy__button{
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
}
.extra__block{
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 18px;
}
.extra__block_inside{
    width: 58px;
    height: 58px;
    background-color: rgb(247, 247, 247);
    border-radius: 50%;
    margin: 6px auto;
}
.extra__block_icon{
    margin: 14px;
}
.buy__price{
    width: 79px;
    height: 79px;
    background-color: #009471;
    border-radius: 50%;
    margin: 9px auto;
}
.buy__price__block{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 27px;
    color: #ffffff;
    font-weight: 600;
}
.buy__price__quantity{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #141414;
    position: absolute;
    top: -15px;
    margin-left: 58px;
    color: #ffffff;
    text-align: center;
}
.quantity{
    font-size: 12px;
    margin-top: 3px;

}