@import "./fonts.css";
@import "./header.css";
@import "./main_block.css";
@import "./footer.css";
@import "./popup.css";
@import "./webfonts/Montserrat.css";
@import "./first_popup.css";


*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background: #F6F6F5;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}